<!--
<router-outlet></router-outlet>
<nb-layout>
  <nb-layout-header fixed>Company Name</nb-layout-header>

  <nb-sidebar>Sidebar Content</nb-sidebar>

  <nb-layout-column>
    Page Content <button nbButton>Hello World</button>
  </nb-layout-column>
</nb-layout> -->
<ng-http-loader spinner="sk-rotationg-plane"></ng-http-loader>
<ng-progress direction = ltr+ speed = 200 trickleSpeed = 300 debounceTime = 0 meteor = true spinner = true spinnerPosition = right thick = false fixed = true min = 8 max = 100 ease = linear color = red></ng-progress>
<router-outlet></router-outlet>
